################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WpfAppKondi/FileContentIndex/453750ed-37d7-488a-9d8e-5144feb5d93f.vsidx
/.vs/WpfAppKondi/FileContentIndex/9958df08-1fda-4822-be8b-17851c4f2574.vsidx
/.vs/WpfAppKondi/v17/DocumentLayout.json
/.vs/WpfAppKondi/v17/.suo
